<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: copy"></head>



<script src="jquery.min.js"></script>
<script src="jquery.textfill.min.js"></script>

<body>
<div id="wrapper">
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{Home.Header}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <br><br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" th:text="#{Chart.Total.CostsVsRevenuesMonth}"></div>
                                    <div class="content">
                                        <div id="expensesVsRevenuesTotalMonth"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" th:text="#{Chart.Total.CostsVsRevenuesYear}"></div>
                                    <div class="content">
                                        <div id="expensesVsRevenuesTotalYear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br><br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <form th:action="@{/home/}" method="get" id="form">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" >
                                            <div class="row">
                                                <div class="col-sm-12" th:text="#{Home.LasRevenues}" />
                                            </div>
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <table class="table table-striped table-hover" id="dataTables-example">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{Transactions.Date}"></th>
                                                    <th th:text="#{Transactions.Name}"></th>
                                                    <th th:text="#{Transactions.Type}"></th>
                                                    <th th:text="#{Transactions.Projects.Project}"></th>
                                                    <th th:text="#{Transactions.Value}"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="r : ${listEntities}">
                                                    <td th:text="${r.getDate()}"></td>
                                                    <td th:text="${r.getName()}">1</td>
                                                    <td th:text="${r.getType().getName()}">1</td>
                                                    <td th:if="${r instanceof T(hello.ProjectTransaction.ProjectTransaction)}" th:text="${r.getProject().getName()}"></td>
                                                    <td th:if="${!(r instanceof T(hello.ProjectTransaction.ProjectTransaction))}"></td>
                                                    <td th:text="${r.getValue()}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            <select class="form-control pagination" id="pageSizeSelect">
                                                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                                                        th:selected="${pageSize} == ${selectedPageSize}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" th:text="#{Chart.Total.CostsByType}"></div>
                                    <div class="content">
                                        <div id="expensesByType"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br><br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" th:text="#{Home.FinancialProjectionRevenues}"></div>
                                    <div class="content">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th th:text="#{Transactions.Date}"></th>
                                                <th th:text="#{Transactions.Name}"></th>
                                                <th th:text="#{Transactions.Type}"></th>
                                                <th th:text="#{Transactions.SubType}"></th>
                                                <th th:text="#{Transactions.Value}"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="r : ${financialProjectionRevenue}">
                                                <td th:text="${r.getDate()}"></td>
                                                <td th:text="${r.getName()}">1</td>
                                                <td th:text="${r.getType().getName()}">1</td>
                                                <td th:if="${r.getType().getSubTypeList()!=null}">
                                                    <div th:each="subtype : ${r.getType().getSubTypeList()}" style="display:inline">
                                                        <p th:text="${subtype.getName()}" style="display:inline"></p>;
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="inline" th:text="${r.getValue()}"> </label>
                                                    <label class="inline" th:text="${currency.symbol}"> </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" th:text="#{Home.FinancialProjectionCosts}"></div>
                                    <div class="content">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th th:text="#{Transactions.Date}"></th>
                                                <th th:text="#{Transactions.Name}"></th>
                                                <th th:text="#{Transactions.Type}"></th>
                                                <th th:text="#{Transactions.SubType}"></th>
                                                <th th:text="#{Transactions.Value}"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="r : ${financialProjectionCost}">
                                                <td th:text="${r.getDate()}"></td>
                                                <td th:text="${r.getName()}">1</td>
                                                <td th:text="${r.getType().getName()}">1</td>
                                                <td th:if="${r.getType().getSubTypeList()!=null}">
                                                    <div th:each="subtype : ${r.getType().getSubTypeList()}" style="display:inline">
                                                        <p th:text="${subtype.getName()}" style="display:inline"></p>;
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="inline" th:text="${r.getValue()}"> </label>
                                                    <label class="inline" th:text="${currency.symbol}"> </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!--FINANCIAL PROJECTION-->
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h1 th:text="#{Home.FinancialHistory}"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 right"></div>
            <div class="col-sm-4 right">
                <select class="form-control" th:id="yearSelected">
                    <option th:each="year : ${yearsToSelect}" th:value="${year}" th:text="${year}" />
                </select>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{Chart.Total.CostsByType}"></div>
                    <div class="content">
                        <div id="expensesByTypeProjection"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{Chart.Total.CostsVsRevenuesYear}"></div>
                    <div class="content">
                        <div id="expensesVsRevenuesTotalYearProjection"></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" th:text="#{Chart.Month.CostsVsRevenuesByMonth}"></div>
                        <div class="content">
                            <div id="expensesVsRevenuesByMonth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>


    </div>
</div>

<div th:replace="fragments/footer :: copy"></div>

<!-- Morris Charts JavaScript -->
<script src="../assets/vendor/raphael/raphael.min.js"></script>
<script src="../assets/vendor/morrisjs/morris.min.js"></script>
<!--mine-->
<script src="../get_chartResource.js"></script>
<script src="../get_financialChartResource.js"></script>

<script>

    $('#pageSizeSelect').change(function(evt) {
        var pathname = window.location.pathname;
        window.location.replace(pathname + "?pageSize=" + this.value);
    });

</script>



</body>
</html>