<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: copy"></head>
<body>
<div id="wrapper">

    <div th:replace="~{fragments/navbar :: navbar}">...</div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{Transactions.Sheet.Cost.Header}">header</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row" th:if="${transaction != null}">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{Transactions.Cost.Add}"> Adicionar
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form id="myForm" th:action="@{/sheet_transaction/add_transaction}" th:object="${transaction}" method="post">
                            <div class="form-horizontal">
                                <div class="form-group" align="right">
                                    <input onClick="validSubmit()"  class="btn btn-default" th:value="#{System.Add}" />
                                    <input type="reset"  class="btn btn-default" th:value="#{System.Clean}" />
                                    <a th:href="@{/sheet_transaction/}">
                                        <input class="btn btn-default" th:value="#{System.Back}" />
                                    </a>
                                </div>

                                <input th:type="hidden" th:field="*{genre}"/>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Transactions.Frequency}"></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" th:field="*{frequency}" required>
                                            <option th:each="frequency : ${T(hello.Enums.Frequency).values()}"
                                                    th:value="${frequency}"
                                                    th:text="#{Frequency.+ ${frequency}}"
                                            />
                                        </select>
                                        <p class="text-danger" th:if="${#fields.hasErrors('frequency')}" th:errors="*{frequency}">Name Error</p>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Transactions.Date}"></label>
                                    <div class="col-sm-6">
                                        <input id='endDatePicker' type="date" class="form-control" th:value="*{date}" th:field="*{date}" required/>
                                        <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Name Error</p>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Transactions.Name}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{name}" required/>
                                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Transactions.Description}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{description}"/>
                                        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</p>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Transactions.Type}"></label>
                                    <div class="col-sm-6">
                                        <select class="form-control selectedType" th:field="*{type.id}" required>
                                            <option th:each="type : ${types}"
                                                    th:value="${type.getId()}"
                                                    th:utext="${type.getName()}"/>
                                        </select>
                                        <p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Name Error</p>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Transactions.SubType}"></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" th:id="subTypesOfType" name = "subtype_id" th:data-subtype-id="${subtype_id}" th:field="*{type.subType.id}">
                                        </select>
                                        <p class="text-danger" th:if="${#fields.hasErrors('type.subType')}" th:errors="*{type.subType}">Name Error</p>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Transactions.Employee.Employee}"></label>
                                    <div class="col-sm-6">
                                        <select class="form-control employee_value" th:field="*{employee.id}">
                                            <option text=" " value=0 />
                                            <option th:each="employee : ${employees}"
                                                    th:value="${employee.getId()}"
                                                    th:utext="${employee.getName()}"/>
                                        </select>
                                        <p class="text-danger" th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">Name Error</p>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Transactions.Value}"></label>
                                    <div class="col-sm-6">
                                        <input  type="number" step="0.01" class="form-control" th:field="*{value}"/>
                                        <p class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Name Error</p>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" th:text="#{HousPerProject.PanelHeader}"></div>
                                            <table width="100%" class="table table-striped table-hover adresses">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{HousPerProject.Project}"></th>
                                                    <th th:text="#{HousPerProject.Hours}"></th>
                                                </tr>
                                                </thead>
                                                <tbody th:id="listHoursPerProject">
                                                <tr th:each="ad,rowStat : *{hoursPerProjectList}" >
                                                    <td>
                                                        <select class="form-control" th:field="*{hoursPerProjectList[__${rowStat.index}__].project.id}" required>
                                                            <option th:each="project : ${projects}"
                                                                    th:value="${project.getId()}"
                                                                    th:utext="${project.getName()}"/>
                                                        </select>
                                                        <p class="text-danger" th:if="${#fields.hasErrors('hoursPerProjectList[__${rowStat.index}__].project')}" th:errors="*{hoursPerProjectList[__${rowStat.index}__].project}">Name Error</p>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="time" th:field="*{hoursPerProjectList[__${rowStat.index}__].duration}" required />
                                                        <p class="text-danger" th:if="${#fields.hasErrors('hoursPerProjectList[__${rowStat.index}__].duration')}" th:errors="*{hoursPerProjectList[__${rowStat.index}__].duration}">Name Error</p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div align="right">
                                            <a class="btn btn-danger pull-right" id="removeHoursPerProject"><i class="glyphicon glyphicon-remove"></i></a>
                                            <a class="btn btn-default pull-right" th:text="#{System.Add}" id="addHoursPerProject"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>

<script src="../subTypeSelect.js"></script>
<script src="../add_remove_hoursPerProject.js"></script>



<div th:replace="fragments/footer :: copy"></div>
</body>
</html>