<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: copy"></head>

<body>
<div id="wrapper">
    <div th:insert="~{fragments/navbar :: navbar}">...</div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{Transactions.Sheet.Cost.Header}"></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class = "container-fluid">

            <form th:action="@{/sheet_transaction/}" method="get" id="form">

                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{Filter.Search}"></span>
                            <input th:value="${value_filter}" name = "value_filter" type="text" class="form-control" th:placeholder="#{Filter.Client.Search}">
                            <!--<span class="input-group-addon"><a onclick="$(form).submit()"><i class="glyphicon glyphicon-search"></i></a></span>-->
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{Transactions.Frequency}">frequency </span>
                            <select class="form-control" name="frequency" required>
                                <option value=""/>
                                <option th:each="freq : ${T(hello.Enums.Frequency).values()}"
                                        th:value="${freq}"
                                        th:text="#{Frequency.+ ${freq}}"
                                        th:selected="${freq.toString() == frequency}"
                                />
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-7" align="right">
                        <!--warning: The IDE are saying "@{" is error but it isnt't-->
                        <a th:href="@{/sheet_transaction/add_transaction}">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addModal">
                                <span class="glyphicon glyphicon-plus"></span> <span th:text="#{Transactions.Cost.Add}"></span>
                            </button>
                        </a>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{Transactions.Type}"></span>
                            <select class="form-control selectedType" name = "type_value">
                                <option value=""/>
                                <option th:each="type : ${types}"
                                        th:value="${type}"
                                        th:utext="${type}"
                                        th:selected="${type== type_value}"/>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{Transactions.SubType}"></span>
                            <select class="form-control" th:id="subTypesOfType" name = "subtype_value" th:data-subtype-value="${subtype_value}">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{Transactions.Employee.Employee}"></span>
                            <select class="form-control" name="employee_id">
                                <option value="0"/>
                                <option th:each="entity : ${employees}"
                                        th:value="${entity.getId()}"
                                        th:utext="${entity.getName()}"
                                        th:selected="${entity.getId() == employee_id}"/>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{System.Since}"></span>
                            <input type="date" th:value="${date_since}" name="date_since" class="form-control" >
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{System.Until}"></span>
                            <input type="date" th:value="${date_until}" name="date_until" class="form-control" >
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{System.Since}"></span>
                            <input type="number" step="0.01" th:value="${value_since}" name="value_since" class="form-control" >
                            <span class="input-group-addon"><i class="glyphicon glyphicon-eur"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" th:text="#{System.Until}"></span>
                            <input type="number" step="0.01" th:value="${value_until}" name="value_until" class="form-control" >
                            <span class="input-group-addon"><i class="glyphicon glyphicon-eur"></i></span>
                        </div>
                    </div>
                    <a class="col-sm-6" align="right"onclick="$(form).submit()"><button class="btn btn-info" th:text="#{System.Filter}"></button></a>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" th:text="#{Transactions.Revenue.PanelHeading}"></div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table class="table table-striped table-hover" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th th:text="#{Transactions.Date}"></th>
                                        <th th:text="#{Transactions.Name}"></th>
                                        <th th:text="#{Transactions.Type}"></th>
                                        <th th:text="#{Transactions.SubType}"></th>
                                        <th th:text="#{Transactions.Employee.Employee}"></th>
                                        <th th:text="#{Transactions.Value}"></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="r : ${listEntities}">
                                        <td th:text="${r.getDate()}"></td>
                                        <td th:text="${r.getName()}">1</td>
                                        <td th:text="${r.getType().getName()}">1</td>
                                        <td th:if="${r.getType().getSubType()!=null}" th:text="${r.getType().getSubType().getName()}">1</td>
                                        <td th:unless="${r.getType().getSubType()!=null}"></td>
                                        <td th:if="${r.getEmployee()!=null}" th:text="${r.getEmployee().getName()}">1</td>
                                        <td th:unless="${r.getEmployee()!=null}"></td>
                                        <td th:text="${r.getValue()}">1</td>
                                        <td class="center">
                                            <a class="btn btn-default trash pull-right" th:transaction-id="${r.getId()}" ><i class="glyphicon glyphicon-remove"></i></a>
                                            <a class="btn btn-default pull-right" th:href="@{/sheet_transaction/edit_transaction(id=${r.getId()})}"><i class="fa fa-gear fa-fw"></i></a>
                                            <a class="btn btn-default pull-right" th:href="@{/sheet_transaction/info_transaction(id=${r.getId()})}"><i class="glyphicon glyphicon-info-sign"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div th:insert="~{fragments/pagination :: pagination}">...</div>
            </form>
        </div>

    </div>
</div>
<div id="modal-content"></div>

<script src="../subTypeSelect.js"></script>
<script src="../pagination.js"></script>


<script>

    $( document ).ready(function () {

        $('a.trash').click(function (e) {

            var opt = {
                type: 'GET',
                url: '/sheet_transaction/remove_transaction?id=' + $(this).attr('transaction-id')
            }

            // alert(JSON.stringify(opt));

            $.ajax(opt).done(function (result) {
                $('#modal-content').html(result);
                $('#remove-modal').modal();
            }).fail(function (jqXHR, textStatus) {
                alert(textStatus);
            });
        });

    });

    function deleteEntity(id) {
        $.ajax({
            type: 'DELETE',
            url: '/sheet_transaction/remove_transaction?id=' + id

        }).done(function (result) {
            $('a[transaction-id=' + id + ']').closest('tr').remove();

        }).fail(function (jqXHR, textStatus) {
            alert("erro");
        });

    }

</script>
<div th:replace="fragments/footer :: copy"></div>
</body>
</html>