<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: copy"></head>

<script src="jquery.min.js"></script>
<script src="jquery.textfill.min.js"></script>

<body>
<div id="wrapper">

    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div id="page-wrapper">


        <div th:object="${project}">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:if="${project !=null}">
                        <h1 th:text="#{Project.Info.Header}" th:remove="tag" />
                        <label th:text="${project.getName()}"/>
                    </h1>
                    <h1 class="page-header" th:unless="${project!=null}"> <label th:text="#{Project.NotFound}"/></h1>
                </div>
            </div>
            <div class="row" th:unless="${project !=null}" th:text="#{Project.NotFoundDescription}"></div>
            <div class="row" th:if="${project != null}">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <span th:text="#{Entity.Id}">title</span>:
                                <span id = "id_value" th:text="${project.getId()}"></span>
                            </div>
                            <div>
                                <span th:text="#{Project.Name}">title</span>:
                                <span th:text="${project.getName()}"></span>
                            </div>
                            <div>
                                <span th:text="#{Project.Description}">title</span>:
                                <textarea readonly style= "resize:vertical; overflow:auto;" rows="4" cols="50"  class="form-control" th:field="*{description}"></textarea>
                            </div>
                            <div>
                                <span th:text="#{Project.InitialDate}">title</span>:
                                <span th:text="${project.getInitialDate()}"></span>
                            </div>
                            <div>
                                <span th:text="#{Project.FinalDate}">title</span>:
                                <span th:text="${project.getFinalDate()}"></span>
                            </div>

                            <div>
                                <span th:text="#{Project.Scope}">title</span>:

                                <textarea readonly style= "resize:vertical; overflow:auto;" rows="4" cols="50"  class="form-control" th:field="*{scope}"></textarea>
                                <!--TODO: tratar disto. Se o ambito tiver 255 caracteres passa a pagina-->
                            </div>

                            <div>
                                <br>
                                <span th:text="#{Project.Client}">title</span>:
                                <span th:text="${project.getClient().getName()}"></span>
                            </div>
                            <div>
                                <span th:text="#{Contact.Header}">title</span>:
                                <br>
                                <span th:text="#{Contact.Name}">title</span>:
                                <span th:text="${project.getContact().getName()}"></span>
                            </div>
                            <div>
                                <span th:text="#{Client.NumberPhone}">title</span>:
                                <span th:text="${project.getContact().getNumberPhone()}"></span>
                            </div>
                            <div>
                                <span th:text="#{Client.Email}">title</span>:
                                <span th:text="${project.getContact().getEmail()}"></span>
                            </div>
                            <div>
                                <span th:text="#{CostCenter.Name}">title</span>:
                                <span th:text="${project.costCenter.getName()}"></span>
                            </div>
                        </div>


                        <br><br>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Chart.Total.Percentage}"></div>
                                        <div class="content">
                                            <div id="percentage-revenues-costs"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Chart.Total.Values}"></div>
                                        <div class="content">
                                            <div id="bar-chart-by-transactions"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Chart.CostsByType}">titulo</div>
                                        <div class="content">
                                            <div id="bar-chart-by-costs"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Chart.RevenuesByType}">titulo</div>
                                        <div class="content">
                                            <div id="bar-chart-by-revenues"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Chart.CostsBySubType}">titulo</div>
                                        <div class="content">
                                            <div id="bar-chart-by-costs-subtypes"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Chart.RevenuesBySubType}">titulo</div>
                                        <div class="content">
                                            <div id="bar-chart-by-revenues-subtypes"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div align="right">
                            <a th:href="@{/project/}">
                                <input class="btn btn-default" th:value="#{System.Back}" />
                            </a>
                        </div>
                        <br>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
</div>



<div th:replace="fragments/footer :: copy"></div>


<!-- Morris Charts JavaScript -->
<script src="../assets/vendor/raphael/raphael.min.js"></script>
<script src="../assets/vendor/morrisjs/morris.min.js"></script>
<!--<script src="../assets/js/morris-data.js"></script>-->



<script>
    /*<![CDATA[*/


    var id = [[${project.getId()}]];

    if(id!=null)
    {
        var opt = {
            type: 'GET',
            url: '/project/get_chart_resource?id=' + id
        }

        $.ajax(opt).done(function (result) {

            if(result.percentageCosts != 0 && result.percentageRevenues != 0)
            {
                Morris.Donut({
                    element: 'percentage-revenues-costs',
                    data: [{
                        label: '[[#{Chart.Transactions.Costs}]]',
                        value: result.percentageCosts
                    }, {
                        label: '[[#{Chart.Transactions.Revenues}]]',
                        value: result.percentageRevenues
                    }],
                    resize: true
                });

                Morris.Bar({
                    element: 'bar-chart-by-transactions',
                    data: [{
                        y: '[[#{Chart.Total}]]',
                        a: result.totalRevenues,
                        b: result.totalCosts

                    }],
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['[[#{Chart.Total.Revenues}]]', '[[#{Chart.Total.Costs}]]'],
                    hideHover: 'auto',
                    resize: true
                });


                var order_graph_chat = [];
                var i;
                for (i = 0; i < result.typeSubtypeResourcesCosts.length; i++) {
                    var element = {};
                    element.y = result.typeSubtypeResourcesCosts[i].typeName;
                    element.a = result.typeSubtypeResourcesCosts[i].typeValueTotal;
                    order_graph_chat.push(element);
                }

                Morris.Bar({
                    element: 'bar-chart-by-costs',
                    data: order_graph_chat,
                    xkey: 'y',
                    ykeys: ['a'],
                    labels: ['Value'],
                    hideHover: 'auto',
                    resize: true
                });

                order_graph_chat = [];
                for (i = 0; i < result.typeSubtypeResourcesRevenues.length; i++) {
                    var element = {};
                    element.y = result.typeSubtypeResourcesRevenues[i].typeName;
                    element.a = result.typeSubtypeResourcesRevenues[i].typeValueTotal;
                    order_graph_chat.push(element);
                }

                Morris.Bar({
                    element: 'bar-chart-by-revenues',
                    data: order_graph_chat,
                    xkey: 'y',
                    ykeys: ['a'],
                    labels: ['Value'],
                    hideHover: 'auto',
                    resize: true
                });

                // -------------------- subtypes

                order_graph_chat = [];

                var x;
                var names = [];
                var subTypeNames = [];

                for (i = 0; i < result.typeSubtypeResourcesCosts.length; i++) {
                    var element = {};

                    x = result.typeSubtypeResourcesCosts[i].typeName;
                    names.push(x);
                    element.y = x;

                    for(j = 0; j<result.typeSubtypeResourcesCosts[i].subTypeNames.length; j++)
                    {
                        var subTypeName = result.typeSubtypeResourcesCosts[i].subTypeNames[j];
                        var subTypeValue = result.typeSubtypeResourcesCosts[i].subTypeValues[j];

                        //verify if subTypeName exists in array...
                        if(!subTypeNames.includes(subTypeName))
                            subTypeNames.push(subTypeName);
                        element[subTypeName] = subTypeValue;

                    }

                    order_graph_chat.push(element);
                }

                Morris.Bar({
                    element: 'bar-chart-by-costs-subtypes',
                    data: order_graph_chat,
                    xkey: 'y',
                    ykeys: subTypeNames,
                    labels: subTypeNames,
                    hideHover: 'auto',
                    resize: true
                });


                order_graph_chat = [];

                names = [];
                subTypeNames = [];

                for (i = 0; i < result.typeSubtypeResourcesRevenues.length; i++) {
                    var element = {};

                    x = result.typeSubtypeResourcesRevenues[i].typeName;
                    names.push(x);
                    element.y = x;

                    for(j = 0; j<result.typeSubtypeResourcesRevenues[i].subTypeNames.length; j++)
                    {
                        var subTypeName = result.typeSubtypeResourcesRevenues[i].subTypeNames[j];
                        var subTypeValue = result.typeSubtypeResourcesRevenues[i].subTypeValues[j];

                        //verify if subTypeName exists in array...
                        if(!subTypeNames.includes(subTypeName))
                            subTypeNames.push(subTypeName);
                        element[subTypeName] = subTypeValue;

                    }

                    order_graph_chat.push(element);
                }

                Morris.Bar({
                    element: 'bar-chart-by-revenues-subtypes',
                    data: order_graph_chat,
                    xkey: 'y',
                    ykeys: subTypeNames,
                    labels: subTypeNames,
                    hideHover: 'auto',
                    resize: true
                });

            }

        }).fail(function (jqXHR, textStatus) {
            alert(textStatus);
        });
    }




    /*]]>*/
</script>



</body>
</html>