<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head :: copy"></head>
<body>
<div id="wrapper">

    <div th:insert="~{fragments/navbar :: navbar}">...</div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Clientes</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{Client.Add}"> Adicionar Cliente
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form th:action="@{/client/add_submit}" th:object="${clientDTO}" method="post">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.RegistrationCode}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{registrationCode}"/>
                                        <td th:if="${#fields.hasErrors('registrationCode')}" th:errors="*{registrationCode}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.Name}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{name}"/>
                                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.NumberPhone}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{numberPhone}">
                                        <td th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>

                                <div class="form-group" align="right">
                                    <input type="submit"  class="btn btn-default" th:value="#{Client.Add}" />
                                    <input type="reset"  class="btn btn-default" th:value="#{System.Clean}" />
                                    <a th:href="@{/client/}">
                                        <input class="btn btn-default" th:value="#{System.Back}" />
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<div th:substituteby="fragments/footer :: copy"></div>
</body>
</html>