<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: copy"></head>
<body>
<div id="wrapper">

    <div th:replace="~{fragments/navbar :: navbar}">...</div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{Client.Header}">Clientes</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{Client.Add}"> Adicionar Cliente
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form th:action="@{/client/add_client}" method="post">



                            <div class="form-group" align="right">
                                <input type="submit"  class="btn btn-default" th:value="#{System.Add}" />
                                <a th:href="@{/client/}">
                                    <input class="btn btn-default" th:value="#{System.Back}" />
                                </a>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.RegistrationCode}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{client.registrationCode}" th:maxlength="${T(hello.Client.Client).MAX_REGISTRATIONCODE_LENGHT}"/>
                                        <td th:if="${#fields.hasErrors('client.registrationCode')}" th:errors="*{client.registrationCode}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.Name}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{client.name}" th:maxlength="${T(hello.Client.Client).MAX_NAME_LENGHT}"/>
                                        <td th:if="${#fields.hasErrors('client.name')}" th:errors="*{client.name}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.NumberPhone}" th:maxlength="${T(hello.Client.Client).MAX_NUMBERPHONE_LENGHT}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{client.numberPhone}">
                                        <td th:if="${#fields.hasErrors('client.numberPhone')}" th:errors="*{client.numberPhone}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>

                            <div class="row">
                                <br>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Adress.PanelHeader}"></div>
                                        <table width="100%" class="table table-striped table-hover adresses">
                                            <thead>
                                            <tr>
                                                <th th:text="#{Adress.City}"></th>
                                                <th th:text="#{Adress.Adress}"></th>
                                                <th th:text="#{Adress.ZipCode}"></th>
                                                <th th:text="#{Adress.Number}"></th>

                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody th:id="listAdresses">
                                            <tr th:each="ad,rowStat : *{client.adresses}" >
                                                <td><input class="form-control" type="text" th:field="*{client.adresses[__${rowStat.index}__].city}" required th:maxlength="${T(hello.Adress.Adress).MAX_CITY_LENGHT}"/></td>
                                                <td><input class="form-control" type="text" th:field="*{client.adresses[__${rowStat.index}__].adressName}" required th:maxlength="${T(hello.Adress.Adress).MAX_ADRESSNAME_LENGHT}"/></td>
                                                <td><input class="form-control" type="text" th:field="*{client.adresses[__${rowStat.index}__].zipCode}" th:maxlength="${T(hello.Adress.Adress).MAX_ZIPCODE_LENGHT}"/></td>
                                                <td><input class="form-control" type="number" th:field="*{client.adresses[__${rowStat.index}__].number}" th:maxlength="${T(hello.Adress.Adress).MAX_NUMBER_SIZE}"/></td>
                                                <td class="center">
                                                    <a class="btn btn-default pull-right" id="removeAdress"><i class="glyphicon glyphicon-remove"></i></a>
                                                    <!--<a class="btn btn-default pull-right" th:href="@{/client/edit_adress_client(id_client=${saveClientDTO.getId()}, id_adress=${ad.getId()})}"><i class="fa fa-gear fa-fw"></i></a>-->
                                                    <!--<a class="btn btn-default info-adress pull-right" th:client-id="${client.getId()}" th:adress-id="${rowStat.index}"><i class="glyphicon glyphicon-info-sign"></i></a>-->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div align="right">
                                        <a class="btn btn-default pull-right" th:text="#{Adress.Client.Add}" id="addAdress"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Contact.PanelHeading}"></div>
                                        <table width="100%" class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th th:text="#{Person.Name}"></th>
                                                <th th:text="#{Person.Email}"></th>
                                                <th th:text="#{Person.NumberPhone}"></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody th:id="listContacts">
                                            <tr th:each="contact,rowStat : *{client.contacts}" >
                                                <td><input class="form-control" type="text" th:field="*{client.contacts[__${rowStat.index}__].name}" required th:maxlength="${T(hello.Contact.Contact).MAX_NAME_LENGHT}"/></td>
                                                <td><input class="form-control" type="email" th:field="*{client.contacts[__${rowStat.index}__].email}" required th:maxlength="${T(hello.Contact.Contact).MAX_EMAIL_LENGHT}"/></td>
                                                <td><input class="form-control" type="text" th:field="*{client.contacts[__${rowStat.index}__].numberPhone}" required th:maxlength="${T(hello.Contact.Contact).MAX_NUMBERPHONE_LENGHT}"/></td>
                                                <td class="center"><a class="btn btn-default pull-right" id="removeContact"><i class="glyphicon glyphicon-remove"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div align="right">
                                        <a class="btn btn-default pull-right" th:text="#{Contact.Add}" id="addContact"></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script type="text/javascript">
    var listAdresses = $('#listAdresses');
    var i = $('#listAdresses tr').size();

    $('#addAdress').click(function() {

        listAdresses.append('<tr>' +
            '<td><input class="form-control" type="text" id="adresses'+i+'.city" name="adresses[' + i + '].city" required maxlength="[[${T(hello.Adress.Adress).MAX_CITY_LENGHT}]]"/></td>' +
            '<td><input class="form-control" type="text" id="adresses'+i+'.adressName" name="adresses[' + i + '].adressName" required maxlength="[[${T(hello.Adress.Adress).MAX_ADRESSNAME_LENGHT}]]"/></td>' +
            '<td><input class="form-control" type="text" id="adresses'+i+'.zipCode" name="adresses[' + i + '].zipCode" required maxlength="[[${T(hello.Adress.Adress).MAX_ZIPCODE_LENGHT}]]"/></td>' +
            '<td><input class="form-control" type="number" id="adresses'+i+'.number" name="adresses[' + i + '].number" required maxlength="[[${T(hello.Adress.Adress).MAX_NUMBER_SIZE}]]"/></td>' +
            '<td><a class="btn btn-default pull-right" id="removeAdress"><i class="glyphicon glyphicon-remove"></i></a></td>' +
            '</tr>');
        i++;
        return false;
    });
    //Remove button
    $(document).on('click', '#removeAdress', function() {
        if (i > 1)
        {
            $(this).closest('tr').remove();
            i--;
        }
        return false;
    });


    // ----------------------------Contacts
    var listContacts = $('#listContacts');
    var iContacts = $('#listContacts tr').size();

    $('#addContact').click(function() {

        listContacts.append('<tr>' +
            '<td><input class="form-control" type="text" id="contacts'+iContacts+'.name" name="contacts[' + iContacts + '].name" required maxlength="[[${T(hello.Contact.Contact).MAX_NAME_LENGHT}]]"/></td>' +
            '<td><input class="form-control" type="email" id="contacts'+iContacts+'.email" name="contacts[' + iContacts + '].email" maxlength="[[${T(hello.Contact.Contact).MAX_EMAIL_LENGHT}]]"/></td>' +
            '<td><input class="form-control" type="text" id="contacts'+iContacts+'.numberPhone" name="contacts[' + iContacts + '].numberPhone" required maxlength="[[${T(hello.Contact.Contact).MAX_NUMBERPHONE_LENGHT}]]"/></td>' +
            '<td><a class="btn btn-default pull-right" id="removeContact"><i class="glyphicon glyphicon-remove"></i></a></td>' +
            '</tr>');
        iContacts++;
        return false;
    });
    //Remove button
    $(document).on('click', '#removeContact', function() {
        if (iContacts > 1)
        {
            $(this).closest('tr').remove();
            iContacts--;
        }
        return false;
    });

</script>
<div th:replace="fragments/footer :: copy"></div>
</body>
</html>