<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: copy"></head>
<body>
<div id="wrapper">
    <div th:insert="~{fragments/navbar :: navbar}">...</div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:if="${client !=null}">
                    <h1 th:text="#{Client.Edit}" th:remove="tag" />
                    <label th:text="${client.getName()}"/>
                </h1>
                <h1 class="page-header" th:unless="${client!=null}"> <label th:text="#{Client.NotFound}"/></h1>
            </div>
        </div>
        <div class="row" th:unless="${client !=null}" th:text="#{Client.NotFoundDescription}"></div>
        <div class="row" th:if="${client != null}">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{Client.Edit}"> Edit</div>
                    <div class="panel-body">
                        <form th:action="@{/client/edit_client}" th:object="${client}" method="post">
                            <div class="form-horizontal">

                                <div class="form-group" align="right">
                                    <input type="submit"  class="btn btn-default" th:value="#{System.Save}" />
                                    <!--<button class="btn btn-default add"><i class="fa fa-plus"></i></button>-->
                                    <a th:href="@{/client/}">
                                        <input class="btn btn-default" th:value="#{System.Back}" />
                                    </a>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Entity.Id}"></label>
                                    <div class="col-sm-6">
                                        <p th:text="*{id}"></p>
                                        <input class="form-control" th:type="hidden" th:field="*{id}" />
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.RegistrationCode}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{registrationCode}" required/>
                                        <td th:if="${#fields.hasErrors('registrationCode')}" th:errors="*{registrationCode}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.Name}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{name}" required/>
                                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.NumberPhone}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{numberPhone}" required/>
                                        <td th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>

                            <div class="row">
                                <br>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Adress.PanelHeader}"></div>
                                        <table width="100%" class="table table-striped table-hover adresses">
                                            <thead>
                                            <tr>
                                                <th th:text="#{Adress.City}"></th>
                                                <th th:text="#{Adress.Adress}"></th>
                                                <th th:text="#{Adress.ZipCode}"></th>
                                                <th th:text="#{Adress.Number}"></th>

                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody th:id="listAdresses">
                                            <tr th:each="ad,rowStat : *{adresses}" >
                                                <td>
                                                    <input class="form-control" type="text" th:field="*{adresses[__${rowStat.index}__].city}" required th:maxlength="${T(hello.Adress.Adress).MAX_CITY_LENGHT}"/>
                                                    <p class="text-danger" th:if="${#fields.hasErrors('adresses[__${rowStat.index}__].city')}" th:errors="*{adresses[__${rowStat.index}__].city}">Name Error</p>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" th:field="*{adresses[__${rowStat.index}__].adressName}" required th:maxlength="${T(hello.Adress.Adress).MAX_ADRESSNAME_LENGHT}"/>
                                                    <p class="text-danger" th:if="${#fields.hasErrors('adresses[__${rowStat.index}__].adressName')}" th:errors="*{adresses[__${rowStat.index}__].adressName}">Name Error</p>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" th:field="*{adresses[__${rowStat.index}__].zipCode}" th:maxlength="${T(hello.Adress.Adress).MAX_ZIPCODE_LENGHT}"/>
                                                    <p class="text-danger" th:if="${#fields.hasErrors('adresses[__${rowStat.index}__].zipCode')}" th:errors="*{adresses[__${rowStat.index}__].zipCode}">Name Error</p>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" th:field="*{adresses[__${rowStat.index}__].number}" th:maxlength="${T(hello.Adress.Adress).MAX_NUMBER_SIZE}"/>
                                                    <p class="text-danger" th:if="${#fields.hasErrors('adresses[__${rowStat.index}__].number')}" th:errors="*{adresses[__${rowStat.index}__].number}">Name Error</p>
                                                </td>
                                                <td class="center">
                                                    <!--<a class="btn btn-default pull-right" id="removeAdress"><i class="glyphicon glyphicon-remove"></i></a>-->
                                                    <!--<a class="btn btn-default pull-right" th:href="@{/client/edit_adress_client(id_client=${saveClientDTO.getId()}, id_adress=${ad.getId()})}"><i class="fa fa-gear fa-fw"></i></a>-->
                                                    <!--<a class="btn btn-default info-adress pull-right" th:client-id="${client.getId()}" th:adress-id="${rowStat.index}"><i class="glyphicon glyphicon-info-sign"></i></a>-->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div align="right">
                                        <a class="btn btn-danger pull-right" id="removeAdress"><i class="glyphicon glyphicon-remove"></i></a>
                                        <a class="btn btn-default pull-right" th:text="#{Adress.Client.Add}" id="addAdress"></a>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <br>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Contact.PanelHeading}"></div>
                                        <table width="100%" class="table">
                                            <thead>
                                            <tr>
                                                <th th:text="#{Person.Name}"></th>
                                                <th th:text="#{Person.Email}"></th>
                                                <th th:text="#{Person.NumberPhone}"></th>
                                                <th th:text="#{PostContact.Name}"></th>
                                            </tr>
                                            </thead>
                                            <tbody th:id="listContacts">
                                            <div th:each="contact,rowStat : *{contacts}">
                                                <tr class="warning">
                                                    <td>
                                                        <input class="form-control" type="text" th:field="*{contacts[__${rowStat.index}__].name}" required th:maxlength="${T(hello.Contact.Contact).MAX_NAME_LENGHT}"/>
                                                        <p class="text-danger" th:if="${#fields.hasErrors('contacts[__${rowStat.index}__].name')}" th:errors="*{contacts[__${rowStat.index}__].name}">Name Error</p>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="email" th:field="*{contacts[__${rowStat.index}__].email}" required th:maxlength="${T(hello.Contact.Contact).MAX_EMAIL_LENGHT}"/>
                                                        <p class="text-danger" th:if="${#fields.hasErrors('contacts[__${rowStat.index}__].email')}" th:errors="*{contacts[__${rowStat.index}__].email}">Name Error</p>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" th:field="*{contacts[__${rowStat.index}__].numberPhone}" required th:maxlength="${T(hello.Contact.Contact).MAX_NUMBERPHONE_LENGHT}"/>
                                                        <p class="text-danger" th:if="${#fields.hasErrors('contacts[__${rowStat.index}__].name')}" th:errors="*{contacts[__${rowStat.index}__].numberPhone}">Name Error</p>
                                                    </td>
                                                    <td class="center">
                                                        <select class="form-control" id= "listPostContacts" th:field="*{contacts[__${rowStat.index}__].postContact}" required>
                                                            <option th:each="postContact : ${listPostContact}"
                                                                    th:value="${postContact.getId()}"
                                                                    th:utext="${postContact.getName()}"/>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td th:colspan="5">
                                                        <div class="row">
                                                            <div class="col-sm-1"></div>
                                                            <div class="col-sm-10">
                                                                <br>
                                                                <table width="100%" class="table" style="background-color: transparent;">
                                                                    <thead>
                                                                    <tr >
                                                                        <th th:text="#{Adress.City}"></th>
                                                                        <th th:text="#{Adress.Adress}"></th>
                                                                        <th th:text="#{Adress.ZipCode}"></th>
                                                                        <th th:text="#{Adress.Number}"></th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody th:id="'listContactAdresses[' + ${rowStat.index} +']'" >
                                                                    <p th:text="#{Adress.PanelHeader}"/>
                                                                    <tr th:each="ad,rowStat2 : *{contacts[__${rowStat.index}__].adresses}" >
                                                                        <td>
                                                                            <input class="form-control" type="text" th:field="*{contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].city}" required th:maxlength="${T(hello.Adress.Adress).MAX_CITY_LENGHT}"/>
                                                                            <p class="text-danger" th:if="${#fields.hasErrors('contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].city')}" th:errors="*{contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].city}">Name Error</p>
                                                                        </td>
                                                                        <td>
                                                                            <input class="form-control" type="text" th:field="*{contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].adressName}" th:maxlength="${T(hello.Adress.Adress).MAX_ADRESSNAME_LENGHT}"/>
                                                                            <p class="text-danger" th:if="${#fields.hasErrors('contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].adressName')}" th:errors="*{contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].adressName}">Name Error</p>
                                                                        </td>
                                                                        <td>
                                                                            <input class="form-control" type="text" th:field="*{contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].zipCode}" required th:maxlength="${T(hello.Adress.Adress).MAX_ZIPCODE_LENGHT}"/>
                                                                            <p class="text-danger" th:if="${#fields.hasErrors('contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].zipCode')}" th:errors="*{contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].zipCode}">Name Error</p>
                                                                        </td>
                                                                        <td>
                                                                            <input class="form-control" type="number" th:field="*{contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].number}" required th:maxlength="${T(hello.Adress.Adress).MAX_NUMBER_SIZE}"/>
                                                                            <p class="text-danger" th:if="${#fields.hasErrors('contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].number')}" th:errors="*{contacts[__${rowStat.index}__].adresses[__${rowStat2.index}__].number}">Name Error</p>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <br>
                                                                <div align="right">
                                                                    <a class="btn btn-danger pull-right" th:onclick="'removeAdressContact(' + ${rowStat.index} + ')'"><i class="glyphicon glyphicon-remove"></i></a>
                                                                    <a class="btn btn-default pull-right" th:onclick="'addAdressContact(' + ${rowStat.index} + ')'" th:text="#{Adress.Contact.Add}" ></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </div>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div align="right">
                                        <a class="btn btn-danger pull-right" id="removeContact"><i class="glyphicon glyphicon-remove"></i></a>
                                        <a class="btn btn-default pull-right" th:text="#{Contact.Add}" id="addContact"></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


<script src="../add_remove_adress.js"></script>
<script src="../add_edit_client.js"></script>


<div th:replace="fragments/footer :: copy"></div>
</body>
</html>