<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: copy"></head>
<body>
<div id="wrapper">

    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div id="page-wrapper">


        <div th:object="${client}">

            <div class="row">
                <div class="col-lg-12">

                    <h1 class="page-header">
                        <span th:text="#{Person.Client.AskRemove}" th:remove="tag">title</span>:
                        <label th:text="${client.getName()}"/> ?
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <span th:text="#{Person.Name}" th:remove="tag">title</span>:
                                <label th:text="${client.getName()}"/></span>
                            </div>
                            <div>
                                <span th:text="#{Person.Adress}" th:remove="tag">title</span>:
                                <label th:text="${client.getAdress()}"/></span>
                            </div>
                            <div>
                                <span th:text="#{Person.Email}" th:remove="tag">title</span>:
                                <label th:text="${client.getEmail()}"/></span>
                            </div>
                            <div>
                                <span th:text="#{Person.NumberPhone}" th:remove="tag">title</span>:
                                <label th:text="${client.getNumberPhone()}"/></span>
                            </div>
                            <div align="right">
                                <a th:href="@{/client/removeclientid(id=${client.getId()})}">
                                    <input class="btn btn-default" th:value="#{Person.Client.Remove}" />
                                </a>
                                <a th:href="@{/client/}">
                                    <input class="btn btn-default" th:value="#{System.Back}" />
                                </a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: copy"></div>
</body>
</html>