<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: copy"></head>

<script src="jquery.min.js"></script>
<script src="jquery.textfill.min.js"></script>

<body>
<div id="wrapper">

    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div id="page-wrapper">


        <div th:object="${type}">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:if="${type !=null}">
                        <h1 th:text="#{Type.Type}" th:remove="tag" />
                        <label th:text="${type.getName()}"/>
                    </h1>
                    <h1 class="page-header" th:unless="${type!=null}"> <label th:text="#{Type.NotFound}"/></h1>
                </div>
            </div>
            <div class="row" th:unless="${type !=null}" th:text="#{Type.NotFoundDescription}"></div>
            <div class="row" th:if="${type != null}">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <br>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <div>
                                        <span th:text="#{Entity.Id}">title</span>:
                                        <span id = "id_value" th:text="${type.getId()}"></span>
                                    </div>
                                    <div>
                                        <span th:text="#{Type.Category}">title</span>:
                                        <span th:text="${type.getCategory()}"></span>
                                    </div>
                                    <div>
                                        <span th:text="#{Type.Name}">title</span>:
                                        <span th:text="${type.getName()}"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" th:text="#{Subtype.PanelHeader}"></div>
                                        <table width="100%" class="table table-striped table-hover adresses">

                                            <tbody>
                                            <tr th:each="ad,rowStat : ${type.subTypeList}" >
                                                <td><p th:text="${ad.name}"/></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div align="right">
                                <a th:href="@{/type/}">
                                    <input class="btn btn-default" th:value="#{System.Back}" />
                                </a>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
</div>

<div th:replace="fragments/footer :: copy"></div>

</body>
</html>