<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: copy"></head>
<body>
<div id="wrapper">

    <div th:insert="~{fragments/navbar :: navbar}">...</div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{Client.Contact.Header}"></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{Client.Contact.Add}"> Adicionar
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form th:action="@{/client/add_contact}" th:object="${contactDTO}" method="post">
                            <div class="form-horizontal">
                                <input th:type="hidden" th:field="*{clientId}"/>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.Contact.Name}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{name}"/>
                                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.Contact.Email}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{email}"/>
                                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"  th:text="#{Client.Contact.NumberPhone}"></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" th:field="*{numberPhone}"/>
                                        <td th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}">Name Error</td>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" th:text="#{Client.Adress}"> Adicionar Cliente
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3"  th:text="#{Client.Adress.City}"></label>
                                                    <div class="col-sm-2">
                                                        <input class="form-control" th:field="*{adressDTO.city}">
                                                        <td th:if="${#fields.hasErrors('adressDTO.city')}" th:errors="*{adressDTO.city}">Name Error</td>
                                                    </div>
                                                    <label class="control-label col-sm-1"  th:text="#{Client.Adress.Number}"></label>
                                                    <div class="col-sm-3">
                                                        <input type="number" class="form-control" th:field="*{adressDTO.number}">
                                                        <td th:if="${#fields.hasErrors('adressDTO.number')}" th:errors="*{adressDTO.number}">Name Error</td>
                                                    </div>
                                                    <div class="col-sm-3"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3"  th:text="#{Client.Adress.Adress}"></label>
                                                    <div class="col-sm-2">
                                                        <input class="form-control" th:field="*{adressDTO.adressName}">
                                                        <td th:if="${#fields.hasErrors('adressDTO.adressName')}" th:errors="*{adressDTO.adressName}">Name Error</td>
                                                    </div>
                                                    <label class="control-label col-sm-1"  th:text="#{Client.Adress.ZipCode}"></label>
                                                    <div class="col-sm-3">
                                                        <input class="form-control" th:field="*{adressDTO.zipCode}">
                                                        <td th:if="${#fields.hasErrors('adressDTO.zipCode')}" th:errors="*{adressDTO.zipCode}">Name Error</td>
                                                    </div>
                                                    <div class="col-sm-3"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>

                                <div class="form-group" align="right">
                                    <input type="submit"  class="btn btn-default" th:value="#{Client.Contact.Add}" />
                                    <!--<button class="btn btn-default add"><i class="fa fa-plus"></i></button>-->
                                    <input type="reset"  class="btn btn-default" th:value="#{System.Clean}" />
                                    <a th:href="@{/client/edit_client(id=${contactDTO.getClientId()})}">
                                        <input class="btn btn-default" th:value="#{System.Back}" />
                                    </a>
                                </div>
                            </div>
                        </form>

                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th th:text="#{Person.Name}"></th>
                                <th th:text="#{Person.Email}"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script>
    $( document ).ready(function () {
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            url: '/client/get_contacts?id=' + $('input#clientId').val()
        }).done(function (result) {
            $("table").html(result);
        }).fail(function (jqXHR, textStatus) {
            alert('/client/get_contacts/' + $('input#clientId').val());
            alert(jqXHR.status);
        });
    });

</script>
<div th:replace="fragments/footer :: copy"></div>
</body>
</html>