<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:fragment="line">
        <td href="#" th:text="${contactDTO.getName()}"></td>
        <td th:text="${contactDTO.getEmail()}">1</td>
        <td class="center">
            <!--<a class="btn btn-default pull-right" th:href="@{/client/info_contact_client(id_client=${clientDTO.getId()},id_contact=${c.getId()})}"><i class="glyphicon glyphicon-info-sign"></i></a>-->
        </td>
    </tr>
</table>
</body>
</html>