<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: copy"></head>

<body>


<div class="row" th:fragment="pagination">
    <div class="form-group col-md-1">
        <select class="form-control pagination" id="pageSizeSelect">
            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                    th:selected="${pageSize} == ${selectedPageSize}"></option>
        </select>
    </div>
    <div th:if="${listEntitys.totalPages != 1}" class="form-group col-md-11 pagination-centered">
        <ul class="pagination">
            <li th:class="${listEntitys.number == 0} ? disabled">
                <a class="pageLink" th:href="@{__${#httpServletRequest.requestURI}__(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
            </li>
            <li th:class="${listEntitys.number == 0} ? disabled">
                <a class="pageLink" th:href="@{__${#httpServletRequest.requestURI}__(pageSize=${selectedPageSize}, page=${listEntitys.number})}">&larr;</a>
            </li>
            <li th:class="${listEntitys.number == (page - 1)} ? 'active pointer-disabled'"
                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a class="pageLink" th:href="@{__${#httpServletRequest.requestURI}__(pageSize=${selectedPageSize}, page=${page})}"
                   th:text="${page}"></a>
            </li>
            <li th:class="${listEntitys.number + 1 == listEntitys.totalPages} ? disabled">
                <a class="pageLink"
                   th:href="@{__${#httpServletRequest.requestURI}__(pageSize=${selectedPageSize}, page=${listEntitys.number + 2})}">&rarr;</a>
            </li>
            <li th:class="${listEntitys.number + 1 == listEntitys.totalPages} ? disabled">
                <a class="pageLink"
                   th:href="@{__${#httpServletRequest.requestURI}__(pageSize=${selectedPageSize}, page=${listEntitys.totalPages})}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<div th:replace="fragments/footer :: copy"></div>

</body>
</html>