<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table width="100%" class="table table-striped table-hover" id="dataTables-example"  th:fragment="list">
    <thead>
    <tr>
        <th th:text="#{Adress.City}"></th>
        <th th:text="#{Adress.Adress}"></th>
        <th th:text="#{Adress.ZipCode}"></th>
        <th th:text="#{Adress.Number}"></th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${adresses}">
        <td th:text="${c.city}"></td>
        <td th:text="${#strings.abbreviate(c.adressName,20)}"></td>
        <td th:text="${c.zipCode}">1</td>
        <td th:text="${c.number}">1</td>
        <!--TODO: fazer aqui um remove-->
    </tr>
    </tbody>
</table>

</body>
</html>